.menuTopMesa{
    padding: 10px !important;
    background-color: #d5f3ff !important;
    padding-bottom: 0px !important;
}


.btnTitleSup{
    font-weight: bold !important;
    color: black;
    font-size: 10px;
    text-transform: capitalize;
}

.inputStylized{
    background-color: white !important;
    border-radius: 50px !important;
}

.fill-height-or-more {
    width:100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll !important;
    height: 100% !important;
    overflow-x: hidden;
    position:relative;
}

.fill-height-or-more-right{
    width:100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto !important;
    height: 100% !important;
    overflow-x: hidden;
    position:relative;
}

.fill-height-or-more > div {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.input-group .form-control:first-child {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-right: none !important;
    padding: 15px !important;
    padding-right: 0px !important;
    margin: 0px;
    background-color: white !important;
}

.input-group-addon {
    background-color: white !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-left: none !important;
    margin-left: -10px;
}

.input-group-addon div {
    color: #5cb85c;
}

.input-group .form-control:first-child :hover {
    border: none !important;
}

.slick-prev, .slick-next{
    width: 50px !important;
}

.slick-next{
    text-align: right !important;
}

.category-option{
    text-decoration: none !important;
    cursor: pointer;
}
.category-option p{
    padding: 5px;
    color: black !important;
    text-decoration: none !important;
}
.activeCategory p{
    padding: 5px;
    color: #5cb85c !important;
    font-weight: bold !important;
    text-decoration: none !important;
}

.thumb-productos{margin-top: 10vh;}

.thumb-productos .panel-default {
    padding: 0px !important;
    margin-bottom: 20px !important;
}

.panel-body {
    height: 100px !important;
    min-height: 100px !important;
}

.tooltip-precio {
    color: white !important;
    background-color: #5cb85c !important;
    font-weight: bold !important;
    font-size: 15px !important;
    padding: 3px !important;
}

.titulo-producto {
    font-weight: bold !important;
}

.pagoNew {
    position: absolute !important;
    bottom: 0px!important;
    position: fixed !important;;
    background: #fff !important;
    z-index: 2 !important;
}
.btnNewOrder{
    height: 75px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 20px;
    font-weight: bold;
}
.btnNewOrder a{
    text-decoration: none;
    cursor: pointer;
}

.headerIconsOrder{
    padding: 10px;
    padding-right: 30px;
    background-color: #fafafa !important;
}


.thumb-productos{
    height: 100% !important;
}

.footerNewP{
    position: fixed !important;
    bottom: 0px !important;
    right: 0px;
    width: inherit;
    z-index: 99 !important;
}

.containerTableModap{
    display: flex;
    justify-content: center;
}

.tableModap{
    width: 75%;
}

.tableModap tbody{
    width: 100% !important;
}

.tableModap tr{
    width: 100% !important;
}

.tableModap td{
    font-size: 10px;
    color: #606060 !important;
}

.tableModap tr{
    border: solid 1px #e6e6e6 !important;
}


table > tbody > tr.default>td {
    background-color: transparent !important;
    border: none !important;
    cursor: pointer;
    text-indent: 100px;
    text-transform: capitalize !important;
    font-weight: bold !important;
}

.item-toma-pedido{
    padding:1px;
    font-size:9px;
}

@media only screen and (min-width: 1001px) {

   #wrapper{
       overflow: -moz-scrollbars-vertical; 
       overflow-y: scroll !important;
   }
}

@media only screen and (max-width: 1000px) {

    .headerIconsOrder{
        padding: 50px;
        background-color: #f5f5f5 !important;
    }

    .footerNewP{
        position: fixed !important;
        bottom: 0px !important;
        width: 100% !important;
        z-index: 99 !important;
    }
    .marginBottomN{
        margin-bottom: 175px;
    }

    .specificMobile-1{
        flex: 4 !important;
    }
    .specificMobile-5{
        flex: 5 !important;
    }
    .specificMobile-10{
        flex: 10 !important;
    }
    .thumb-productos{
        min-height: 95% !important;
        max-height: 95% !important;
        overflow-y: scroll !important;
    }
    .bodyMobile{
        display: table;
        background-color: transparent;
    }
    .cellMobile{
        background-color: transparent;
        float: none;
        display: table-cell;
        border: none;
        height: 100% !important;
    }
}


@media only screen and (min-width: 1001px) {

    #wrapper{
        overflow: hidden !important;
    }
 }

@media (min-width: 992px) { 
    .fill-height-or-more-right{
        height: 100% !important;
    }
    .item-toma-pedido{
        font-size:13px;
        padding:10px;
    }

    .thumb-productos{margin-top: 5vh;}
 }