
body {background-color: #747474;}
#print_area {background-color: #747474;padding-top: 20px;padding-bottom: 20px;}
#ticket_wrapper{font-family:sans-serif;background-color: #fff;width:40%;margin-left: auto;margin-right: auto;-webkit-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.4);-moz-box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.4);box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.4);}
#ticket_header{text-align:center;}
#company_name{font-size:150% !important;font-weight:bold;}
#sale_no{margin-bottom:5px;}
#sale_time{margin-bottom:5px;}
#company_almacen{position:relative;margin-top:15px;margin-bottom:15px;}
#ticket_items{position:relative;border-collapse:collapse;margin-top:15px;margin-bottom:15px;width:100%;}
#ticket_items td{position:relative;padding:0;}

/*Ticket Honduras*/